@import "tailwindcss";

@theme {
  --font-sans: "Sora", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: "Sora", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #F5F0E8;
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
